$headerHeight: 90px;
$side-barWidth: calc(100vw / 4);
$footerHeight: 20px;

$headerColor: rgb(233, 116, 62);
$side-barColor: indianred;
$decorationColor: rgb(233, 233, 221);
$mainColor: rgb(255, 166, 166);